---
import ThemeSwitcher from "./themeSwitcher.vue";
import LanguageSwitcher from "./languageSwitcher.vue";
import SvgLogo from "../assets/logo-alpha.svg";

import NavLoginRegister from "./navLoginRegister.vue";

import { m } from "../paraglide/messages.js";

import { localizeHref } from "../paraglide/runtime.js";

const { restrict } = Astro.props;
---

<div class="navWrapper">
  <div class="navContainer">
    { restrict ? <a><SvgLogo class="logo" /></a> : <a href="/"><SvgLogo class="logo" /></a>}
    <div class="navLinks">
      {
      restrict ? null : 

      <a href={localizeHref("/")} class="navLink">{m.navbar_home()}</a>
      <a href={localizeHref("/featured")} class="navLink">{m.navbar_featured()}</a>
      <a href={localizeHref("/articles")} class="navLink">{m.navbar_allarticles()}</a>
      <a href={localizeHref("/contribute")} class="navLink">{m.navbar_contribute()}</a>
      }

      <div class="buttons">
        {restrict ? null : <NavLoginRegister client:load transition:persist />}
        <ThemeSwitcher client:only />
        <LanguageSwitcher client:only />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  
  .hidden {
    display: none;
  }

  .navWrapper {
    transition:
      background-color 0.1s ease,
      border-color 0.1s ease;
    border-bottom: 3px solid var(--text);
    background: var(--background);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: visible;

    .navContainer {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      max-width: var(--max-width);
      width: 100%;
      padding: 12px 40px;
      gap: 40px;
      overflow: visible;

      .navLinks {
        display: flex;
        justify-content: flex-end;
        gap: 32px;
        align-self: stretch;
        justify-self: end;
        flex-direction: row;
        flex: 1;
        padding: 0;
        margin: 0;

        .navLink {
          font-size: 18px;
          font-weight: 500;
          color: inherit;
          text-decoration: none;
          border-bottom: 0 solid var(--text);
          transition: border-bottom 0.05s ease-in-out;
          align-self: center;

          &:hover {
            border-bottom: 2px solid var(--text);
          }

          &:focus {
            color: var(--text);
            border-bottom: 2px solid var(--text);
          }
        }

        .buttons {
          display: flex;
          gap: 12px;
          flex-direction: row;
        }
      }

      a {
        height: auto;
        width: auto;
        flex-shrink: 0;
        align-self: end;
        justify-self: start;
        overflow: hidden;
        display: block;

        .logo {
          height: auto;
          width: auto;
          flex-shrink: 0;
          align-self: end;
          justify-self: start;
          overflow: hidden;
          display: block;
        }
      }
    }
  }
</style>
