body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --background: #131313;
  --background-hover: #232323;
  --background-transparent: #131313b0;

  --text: #faf3e3;
  --dimmed-text: #d7d1c4;
  --dimmed-text-two: #b5b0a5;

  --primary: #ec534e;

  --star: #ffd34e;
  --star-dimmed: #ffd34e80;

  --max-width: 1400px;
  --max-content-width: 1000px;
}

[data-theme="light"] {
  --background: #fefefe;
  --background-hover: #dfedfc;

  --text: #24313e;
  --dimmed-text: #45505b;
  --dimmed-text-two: #656f78;

  --primary: #ec534e;
}
