---
import MainLayout from "../layouts/main.astro";
import ProfileForm from "../components/profileSetupForm.vue";
import { m } from "../paraglide/messages";
---

<MainLayout restrict="true">
  <div class="titlesNShit">
    <h1>{m.thank_you_for_registering()}</h1>
    <p>{m.thank_you_for_registering_desc()}</p>
  </div>
  <ProfileForm client:only />
</MainLayout>

<style lang="scss">
  .titlesNShit {
    display: flex;
    flex-direction: column;
    padding: 75px 24px;
    max-width: var(--max-content-width);

    p {
      font-size: 20px;
    }
  }
</style>
