---
import MainLayout from "../layouts/main.astro";
import { m } from "../paraglide/messages.js";

import TodaysPicks from "../components/todaysPicks.vue";
---

<MainLayout>
  <section class="welcomer">
    <h1>{m.homepage_title()}</h1>
    <form action="/search" method="get"><input type="text" class="searchbar" placeholder={m.search()} name="q" /></form>
  </section>
  <section class="todaysPicks">
    <h1>{m.homepage_daily()}</h1>
    <TodaysPicks client:only />
  </section>
</MainLayout>

<style lang="scss">
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--max-content-width);
    align-self: center;
  }

  .welcomer {
    height: 80vh;
    gap: 40px;
    flex-direction: column;

    h1 {
      color: var(--text);
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .searchbar {
      display: flex;
      width: var(--max-content-width);
      padding: 12px 18px;
      align-items: center;
      gap: 10px;
      font-size: 22px;

      border-radius: 4px;
      border: 0;
      background: none;
      color: var(--text);
      outline: 3px solid var(--text);
      transition: outline 0.1s ease-in-out;

      &:hover,
      &:focus {
        outline: solid 5px var(--text);
      }
    }
  }

  .todaysPicks {
    flex-direction: column;
    gap: 40px;

    h1 {
      color: var(--text);
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      width: 100%;
      text-align: start;
    }
  }
</style>
